{% include 'admin/nav/nav.html.twig' %}


    
    <body data-layout="horizontal" data-topbar="dark">
    <div class="hori-overlay"></div>
    <!-- <body data-layout="horizontal"> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-6 col-xl-6">
                   
                        
                        
                            <div class="container">
                                <table class="table">
                                    
                                    <thead>
                                    <br>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Post-nom</th>
                                            <th>Prenom</th>
                                            <th>Genre</th>
                                            <th>Grade</th>
                                            <th>Email</th>
                                            <th>Telephone</th>
                                            <th>Action</th>




                                            
                                        </tr>
                                    </thead>
                                    <tbody>


                                        {% set variable_name = 1 %}
                                        {% for professor in professors %}
                                            
                                        
                                        <tr>
                                            <th scope="row">{{variable_name}}</th>
                                            <td>{{professor.nom}}</td>
                                            <td>{{professor.postnom}}</td>
                                            <td>{{professor.prenom}}</td>
                                            <td>{{professor.genre}}</td>
                                            <td>{{professor.grade}}</td>
                                            <td>{{professor.email}}</td>
                                            <td>{{professor.telephone}}</td>

                                            <td>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <a class="btn btn-primary" href="{{path ('edite.professor',{id:professor.id})}}"> Edit</a>
                                                     <a class="btn btn-danger" href="{{path ('professor.delete',{id:professor.id})}}" > Delete</a>
                                                    {# <button type="button" class="btn btn-primaryid"><i class="uil uil-pen"></i></button>
                                                    <button type="button" class="btn btn-danger"><i class="uil uil-trash"></i></button> #}
                                                </div>
                                            </td>
                                        </tr>
                                            {% set variable_name  = variable_name + 1 %}
                                        {% endfor %}
                                        
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div>

            </div>
        </div>
        
        <div class="rightbar-overlay"></div>



        {% include 'admin/nav/footer.html.twig' %}

    </body>
</html>
